.container {
  display: flex;
  align-items: center;
  height: 24px;
}

.label {
  padding-inline: 8px 2px;
  line-height: 20px;
  font-size: 13px;
  letter-spacing: -0.15px;
  color: #1a1a1a;
  cursor: pointer;

  [data-agentation-theme="dark"] & {
    color: #fff;
  }
}
